body{
	font-family:"IBM Plex Mono";
	/*font-weight:300;*/
	line-height:1.6;
	color: white;
	background: black;
	/*display:table;*/
}

header{
	text-align:center !important;
	display:block !important;
}



.contact{
	font-size:80%;
}

.navbar{
	display:block;
	border-style:outset;
	border-width:5%;
	border-color:#BF0000;
	background: #400000; 
	padding:0.5%;
	margin-top: 1%;
	transition: 5s background ;
	
	
	
	
}
.navbar:hover{
	background:red;
	font-size:80%;
}

nav{
	margin:5%;
	text-align:center;
	padding:0%;
}

a,href:visited{
	color:white;
	text-decoration:none;
}

a,href{
	text-decoration:none;
}




footer{
	text-align: center;
}





nav a{
	display:block;
	font-size: 60%;	

}




	
summary{
	font-size:120%;
}

summary:hover{
	font-weight:bold;
	text-decoration:underline;
}




}
.sections{
	margin:0;
}

details{
	text-align:center;
}



img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.row {
  display: flex;
}

.column {
  flex: 18%;
  padding: 5px;
}