
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    margin: 0;
    background:url('./assets/background.png');
	background-color: transparent;
    background-size:contain ;
	
}

.nav-scrolled #nav-title {
    display: inline;

}

#hero{
	background-color: transparent;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: grid;
    align-content: center;
}

section#section01{
	background:url('./assets/background2.png');
	background-color: transparent;
	background-size:cover;
    padding: 0;
    margin: 0;    
    display: grid;
    
    
}

footer{
    background-color: #00304E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footerLogo{
    display: flex;
}
.heroTitle{
    color:black;
    font-weight:800;
    font-size: 400%;
    text-align: center;
}
.heroTitle2{
    color:#00304E;
    font-weight:800;
    font-size: 450%;
    text-align: center;
    
}

section#section02{
	background:url('./assets/background3.png');
	background-color: transparent;
	background-size:cover;
    padding: 0;
    margin: 0;    
    display: grid;
    
    
}
/* Make the header fixed at the top */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* some shadow for depth */
    padding: 1em;
    z-index: 1000;
}

nav {
    transition: all 0.5s ease; /* This will animate the color change */
    background-color: transparent; /* transparent on hero */
    color: white; /* white text on hero */
}
nav.scrolled {
    background-color: white; /* white on other sections */
    color: #00304E; /* darkblue text on other sections */
}

/* Style the navigation links */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 3%;
    display: flex;
    
    
   
}



nav li {
    margin: 0 1em;
}

nav a {
   
    text-decoration: none;
    justify-content: space-around;
    color: inherit; /* this will make the link text the same color as the parent element */
    transition: all 0.5s ease; /* animate the color change */
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    display: flex;
    justify-content: space-around;

}

/* Make sure sections are offset from the top so they aren't covered by the header */
section {
    margin-top: 100px; /* adjust this as necessary */
    padding: 1em;
    height: 100vh; /* temporary height to enable scrolling; replace with actual content */
}

/* Mobile styling - hide text links and show hamburger icon */
@media (max-width: 600px) {

}


.LA{
    padding-top: 10%;
    text-align: center;
    font-size: 90%;
    color: #084e77;
}
.MN{
    text-align: center;
    font-size: 100%;
    color: #084e77;
}

.navLogo{
    display: flex;
}

.copy{
    color: #084e77;
}

.bigNumber{
    color: #084e77;
    font-size: 400%;
}
.secondTitle{
    color: #00304E;
    
    padding-left: 10%;
    padding-top: 3%;
}

.sectionTitle{
    display: flex;
    flex-direction: column;
    padding: 20%;
}
.subTitle{
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}

div#climb{
    padding-top: 0;
    display: flex;
    flex-direction: row;
}

div#climb2>p{
    padding-left: 20%;
    
}