body{
	font-family:"IBM Plex Mono";
	font-weight:300;
	line-height:1.6;
	color: white;
	background: black;
}

header{
	text-align:center !important;
	display:block !important;
}

.sesion{
	text-align:center;
	font-size:120%;
	margin: 5%;
}

.contact{
	font-size:80%;
}

.navbar{
	display: inline-block;
	border-style:outset;
	border-width:5%;
	border-color:#BF0000;
	background: #400000; 
	padding:0.5%;
	margin-top: 1%;
	
	
}

nav{
	margin:5%;
	text-align:center;
}

a,href:visited{
	color:white;
	text-decoration:none;
}

a,href{
	text-decoration:none;
}

.navbar:hover{
	background:red;
}



img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.row {
  display: flex;
}

.column {
  flex: 18%;
  padding: 5px;
}
footer{
	text-align: center;
}



.sections{
	width: 90%;
	display:block;
	text-align: center;
	margin: auto;
}

nav a{
	display:inline-block;
	font-size: 40%;	

}

nav a:hover{
	font-size:80%;
}


	
section{
	padding-left:5%;
	padding-right:5%;
}